


<h6> Welcome <%= current_user.name %>! <br/></h6>
  <h1><div class="logo">Borr.ow</div> </h1>
<h6> Lend, Borrow & Keep Track! </h6>


<img src="http://www.freeartstutor.com/wp-content/uploads/2009/12/book-drawing-lessons-0005-1024x813.jpg" alt="">