<h2 class="logo">Borr.ow</h2>

<h4>Search for a Book</h4>
<form action="/view/items/searchresult" method="get">
<input name="name"/>
<select>

  
  <option value="name">Title</option>
  <option value="Author">Author</option>

</select>




<button id="submit" type="submit">Search by Title</button>
</form>
<br />
<div>
<h5>All Books:</h5>

<a href="/views/items/category"> Search all </a> </div>


<img src="http://www.freeartstutor.com/wp-content/uploads/2009/12/book-drawing-lessons-0005-1024x813.jpg" alt="">